// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  a {
    text-decoration: none;
    color: black;
  }

.product {
  
  border: 2px solid black;
  padding: 10px;
  margin: 5px;

  img {
    width: 90px;
  }

  h3 {
    color: red;    
  }

}