<div class="product_view">
  <h1 class="product_view"><%= @product.name %></h1>
  <button type="button" class="btn btn-default">But NOW!!!</button>
  <%= image_tag(@product.image) %>
  <%= @product.description %>
</div>